head
   script(src='http://code.jquery.com/jquery-1.6.2.min.js')
   script(src='/socket.io/socket.io.js')
   script(type='text/javascript')
      var socket = io.connect('http://localhost:3000')
      socket.on('downloadZipFileProgress', function (data) {
         var progress = data.progress

         if (progress < 100)
            $('#downloadZipFileProgress').text(progress.toFixed(2) + '%')
         else
            $('#downloadZipFileProgress').text('Finished downloading zip file')
      })
      socket.on('unzipFileProgress', function (data) {
         $('#unzipFileProgress').text(data.progress);
      })
      socket.on('importCSVProgress', function (data) {
         var progress = data.progress

         if (progress > 0)
            $('#importCSVProgress').text('Importing ' + data.progress + ' nodes');
         else
            $('#importCSVProgress').text('Finished importing CSV files');
      })

body
   p Batch import is in progress...
   
   p Step 1 - Download zip file 
   #downloadZipFileProgress 

   p Step 2 - Unzip file
   #unzipFileProgress

   p Step 3 - Import CSV files
   #importCSVProgress
   