h1 Businesses

if businesses.length
    p Here are the current businesses:
    ul.businesses
        for business in businesses
            li.business
                p #{business.Name}
else
    p There are no businesses currently.
