extends layout

block content
  section.box
    #obsah.content.box
      .in
        h2 Smörgåsbord
        p
          | A fun side project whose purpose is to use a smorgasbord of cool technologies such as Node.js, Neo4J and Heroku to solve a fictitious problem.
        
        h3 Note to judges
        p
          | A few things are not working on Heroku:
        ul
          li
            p Socket.IO with long polling
          li
            p Unzip zip archive
          li
            p A couple of the reports since the Neo4j version (v1.7) is outdated
          
        p For a fully working solution, please take my local solution (hosted on my brand-spanking new MacBook) for a spin! :)

        p Happy judging!

    #panel-left.box.panel
      .in
        p
          span 27/08/2012
          br
          | Version 0.1 of Smorgasbord is released!