h1= title

p.
    This app is a simple social network manager: it lets you add and remove
    users and "follows" relationships between them.

p
    strong
        | Get started:&nbsp;
        a(href='/users') View all users
