body
    #layout
      header
        h1#logo
          a(href='./', title='Company')
            | Smor
            span.light gasbord
            span.leaf  
      hr.noscreen
      p.noscreen.noprint
        em
          | Skip to
          a(href='#obsah') content
          | ,
          a(href='#nav') navigation
          | .
      hr.noscreen
      #nav.box
        ul
          li
            a(href='/')
              | Home
              br
              span Main page
          li
            a(href='/batchimport')
              | Import
              br
              span Import data
          li
            a(href='/reports')
              | Reports
              br
              span Graphs and charts
          li
            a(href='/admin')
              | Admin
              br
              span Site administration
          li
            a(href='/')
              | Contact
              br
              span Stalk me
        hr.noscreen
      #container.box
        #obsah.content.box
          .in
            h2 Lorem ipsum dolor!
            p
              | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            h3 Dolor sit amet:
            ul
              li
                a(href='#') Dolor in reprehenderit
              li
                a(href='#') In reprehenderit
              li
                a(href='#') Molot in reprehenderit in volupta
              li
                a(href='#') Rure dolor in reprehenderit in volupta
            h3 Lorem ipsum dolor
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, im veniam, quis n ullamco laboris nisi ut aliquip
              | im veniam, quis n ullamco laboris nisi ut aliquip sed do eiusmod tempor incididunt ut labore et dolore magna
              | aliquaim veniam
            p
              | Quis n ullamco laboris nisi ut aliquip. Ut enim ad minim veniam, quis n ullamco laboris nisi ut aliquip ex ea commodo consequat.
            p
              | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, im veniam, quis n ullamco laboris nisi ut aliquip
              | im veniam, quis n ullamco laboris nisi ut aliquip.
        #panel-left.box.panel
          .in
            p
              span 03/07/2008
              br
              | Duis aute irure dolor in repreh in voluptate velit esse cill dolore
              | eu.
            p
              span 03/07/2008
              br
              | Duis aute irure dolor in repreh in voluptate velit esse cill dolore
              | eu.
      footer
        span.f-left
          | © 2012 Safwan Kamarrudin
