!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #layout
      header
        h1#logo
          a(href='./', title='Company')
            | Smor
            span.light gasbord
            span.leaf  
      
      hr.noscreen
      
      p.noscreen.noprint
        em
          | Skip to
          a(href='#obsah') content
          | ,
          a(href='#nav') navigation
          | .
      
      hr.noscreen
      
      nav.box!= partial('navigation.jade')
        
      hr.noscreen

      section!= body
      
      footer
        span.f-left
          | © 2012 Safwan Kamarrudin 
