ul
  li
    a#home(href='/')
      | Home
      br
      span Main page
  li
    a#import(href='/batchimport')
      | Import
      br
      span Import data
  li
    a#reports(href='/reports')
      | Reports
      br
      span Graphs and charts