ul
  li
    a(href='/')
      | Home
      br
      span Main page
  li
    a(href='/batchimport')
      | Import
      br
      span Import data
  li
    a(href='/reports')
      | Reports
      br
      span Graphs and charts