section.box
  #obsah.content.box
    .in
      #chart
      
  #panel-left.box.panel
    .in
      p
        span Distribution of referrals
      p
        span Distribution of partners
      p
        span Top businesses by revenue
      p
        span Top individuals by income

script(type='text/javascript', src='https://www.google.com/jsapi')
script(type='text/javascript')
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);

  function drawChart() {
    var reportData = !{JSON.stringify(reportData)};
    var data = google.visualization.arrayToDataTable(reportData);

    var options = {
      title: 'Distribution of referrals'
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart'));
    chart.draw(data, options);
  }


