section.box
  #obsah.content.box
    .in
      #chart
      
  #panel-left.box.panel
    .in
      p
        span.report(data-name='referrals', data-type='pie') Distribution of referrals
      p
        span.report(data-name='partners', data-type='pie') Distribution of partners
      p
        span.report(data-name='businesses', data-type='bar') Top businesses by revenue
      p
        span.report(data-name='individuals', data-type='bar') Top individuals by income
      p
        span.report(data-name='states', data-type='geo') Top states by businesses

script(type='text/javascript', src='https://www.google.com/jsapi')
script(src='http://code.jquery.com/jquery-1.6.2.min.js')
script(type='text/javascript')
  google.load('visualization', '1', {packages:['corechart', 'geochart']});
  google.setOnLoadCallback(drawChart);
  
  function drawChart(event, options) {
    defaultOptions = {
      chartName: 'referrals',
      chartTitle: 'Distribution of referrals',
      chartType: 'pie'
    };

    if (typeof options == 'object') {
      options = $.extend(defaultOptions, options);
    } else {
      options = defaultOptions;
    } 
    
    var reportUrl = '/reports/' + options.chartName;
    var responseData = $.ajax({
      url: reportUrl,
      dataType: 'json',
      async: false
    }).responseText;
    var reportData = JSON.parse(responseData);
    var data = google.visualization.arrayToDataTable(reportData);

    switch (options.chartType) {
      case 'pie':
        var googleOptions = getGoogleOptions(options);  
        var chart = new google.visualization.PieChart(document.getElementById('chart'));
        chart.draw(data, googleOptions);
        break;
      case 'bar':
        var googleOptions = getGoogleOptions(options);  
        googleOptions.legend.position = 'none';
        var chart = new google.visualization.BarChart(document.getElementById('chart'));
        chart.draw(data, googleOptions);
        break;
      case 'geo':
        var geoOptions = {
          region: 'AU',
          resolution: 'provinces',
          displayMode: 'markers',
          backgroundColor: 'transparent'
        };
        var chart = new google.visualization.GeoChart(document.getElementById('chart'));
        chart.draw(data, geoOptions);
    }
  }

  function getGoogleOptions(options) {
    var googleOptions = {
      title: options.chartTitle,
      titleTextStyle: {
        color: 'white'
      },
      legend: {
        textStyle: {
          color: 'white'
        }
      },
      backgroundColor: 'transparent',
      vAxis: {
        titleTextStyle: {
          color: 'white'
        },
        textStyle: {
          color: 'white'
        },
        textPosition: 'in'
      },
      hAxis: {
        titleTextStyle: {
          color: 'white'
        },
        textStyle: {
          color: 'white'
        }
      },
      chartArea: {
        width: '100%',
        height: '80%'
      },
      animation: {
        duration: 1000,
        easing: 'out',
      },
    };
    return googleOptions;
  }

  $('.report').click(function() {
    var chartName = $(this).data('name');
    var chartTitle = $(this).text();
    var chartType = $(this).data('type');

    drawChart(null, { 
      chartName: chartName, 
      chartTitle: chartTitle, 
      chartType: chartType 
    });
  });
